@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light;
}

body {
	@apply min-h-screen bg-slate-900 text-slate-100 antialiased;
}

a {
	@apply text-sky-400 transition hover:text-sky-300;
}
