@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light;
}

body {
	@apply min-h-screen bg-slate-100 text-slate-700 antialiased;
}

a {
	@apply text-sky-500 transition hover:text-sky-600;
}
