@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light;
}

body {
	@apply min-h-screen bg-blueGray-100 text-blueGray-700 antialiased;
}

a {
	@apply text-lightBlue-500 transition hover:text-lightBlue-600;
}
